body {
  background-color: black;
  color: white;
}
.Container {
  width: 1900px;
  max-width: 100vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
h2 {
  font-size: 0.8rem;
  text-align: center;
}
h3 {
  font-size: 0.8rem;
  text-align: center;
}
.first {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.box {
  padding: 10px;
  background-color: rgb(73, 82, 82);
}
.Hydrogen {
  grid-column: 1;
}
.Hellium {
  grid-column: 18;
}
.Second {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Lithium {
  grid-column: 1;
}
.Beryllium {
  grid-column: 2;
}

.Boron {
  grid-column: 13;
}
.Carbon {
  grid-column: 14;
}
.Nitrogen {
  grid-column: 15;
}
.Oxygen {
  grid-column: 16;
}
.Fluorine {
  grid-column: 17;
}
.Neon {
  grid-column: 18;
}
.Third {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Sodium {
  grid-column: 1;
}
.Magnesium {
  grid-column: 2;
}
.Aluminium {
  grid-column: 13;
}
.Silicon {
  grid-column: 14;
}
.Phosphorus {
  grid-column: 15;
}
.Sulfur {
  grid-column: 16;
}
.Chlorine {
  grid-column: 17;
}
.Argon {
  grid-column: 18;
}
.Fourth {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}

.Potassium {
  grid-column: 1;
}
.Calcium {
  grid-column: 2;
}
.Scandium {
  grid-column: 3;
}
.Titanium {
  grid-column: 4;
}
.vanadium {
  grid-column: 5;
}
.Chromium {
  grid-column: 6;
}
.Manganese {
  grid-column: 7;
}
.Iron {
  grid-column: 8;
}
.Cobalt {
  grid-column: 9;
}

.Nickel {
  grid-column: 10;
}
.Copper {
  grid-column: 11;
}

.Zinc {
  grid-column: 12;
}
.Gallium {
  grid-column: 13;
}
.Germanium {
  grid-column: 14;
}
.Arsenic {
  grid-column: 15;
}
.Selenium {
  grid-column: 16;
}
.bromine {
  grid-column: 17;
}
.Krypton {
  grid-column: 18;
}

.Fifth {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Rubidium {
  grid-column: 1;
}
.Strontium {
  grid-column: 2;
}
.Yttrium {
  grid-column: 3;
}
.Zirconium {
  grid-column: 4;
}
.Nioblum {
  grid-column: 5;
}
.Molybdenum {
  grid-column: 6;
}
.Technetium {
  grid-column: 7;
}
.Ruthenium {
  grid-column: 8;
}
.Rhodium {
  grid-column: 9;
}

.Palladium {
  grid-column: 10;
}
.Silver {
  grid-column: 11;
}

.Cadmium {
  grid-column: 12;
}
.Indium {
  grid-column: 13;
}
.Tin {
  grid-column: 14;
}
.Antimony {
  grid-column: 15;
}
.Tellurium {
  grid-column: 16;
}
.Iodine {
  grid-column: 17;
}
.Xenon {
  grid-column: 18;
}
.Sixth {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Cesium {
  grid-column: 1;
}
.Barium {
  grid-column: 2;
}
.Hafnium {
  grid-column: 4;
}
.Tantalum {
  grid-column: 5;
}
.Tungsten {
  grid-column: 6;
}
.Rhenium {
  grid-column: 7;
}
.Osmium {
  grid-column: 8;
}
.Iridium {
  grid-column: 9;
}

.Platinum {
  grid-column: 10;
}
.Gold {
  grid-column: 11;
}

.Mercury {
  grid-column: 12;
}
.Thallium {
  grid-column: 13;
}
.Lead {
  grid-column: 14;
}
.Bismuth {
  grid-column: 15;
}
.Polonium {
  grid-column: 16;
}
.Astatine {
  grid-column: 17;
}
.Radon {
  grid-column: 18;
}
.Seventh {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Francium {
  grid-column: 1;
}
.Radium {
  grid-column: 2;
}
.Rutherfordium {
  grid-column: 4;
}
.Dubnium {
  grid-column: 5;
}
.Seaborgium {
  grid-column: 6;
}
.Bohrium {
  grid-column: 7;
}
.Hassium {
  grid-column: 8;
}
.Meitnerium {
  grid-column: 9;
}

.Darmstadtium {
  grid-column: 10;
}
.Roentgenium {
  grid-column: 11;
}

.Copernicium {
  grid-column: 12;
}
.Nihonium {
  grid-column: 13;
}
.Flerovium {
  grid-column: 14;
}
.Moscovium {
  grid-column: 15;
}
.Livermorium {
  grid-column: 16;
}
.Tennessine {
  grid-column: 17;
}
.Oganesson {
  grid-column: 18;
}
.Eight {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Lanthanum {
  grid-column: 4;
}
.Cerium {
  grid-column: 5;
}
.Praseodymium {
  grid-column: 6;
}
.Neodymium {
  grid-column: 7;
}
.Promethium {
  grid-column: 8;
}
.Samarium {
  grid-column: 9;
}

.Europium {
  grid-column: 10;
}
.Gadolinium {
  grid-column: 11;
}

.Terbium {
  grid-column: 12;
}
.Dysprosium {
  grid-column: 13;
}
.Holmium {
  grid-column: 14;
}
.Erbium {
  grid-column: 15;
}
.Thulium {
  grid-column: 16;
}
.Ytterbium {
  grid-column: 17;
}
.Lutetium {
  grid-column: 18;
}
