body {
  background-color: #1e2530;
  color: white;
}
.Container {
  width: 1900px;
  max-width: 100vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
h2 {
  font-size: 0.8rem;
  text-align: center;
}
h3 {
  font-size: 0.8rem;
  text-align: center;
}
.first {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.box {
  padding: 10px;
  background-color: rgb(73, 82, 82);
}
.Hydrogen {
  background-color: #ffffff;
  color: black;
  grid-column: 1;
}
.Hellium {
  background-color: #fadbd8;
  grid-column: 18;
}
.Second {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Lithium {
  background-color: #ff6b6b;
  grid-column: 1;
}
.Beryllium {
  background-color: #d3f3ee;
  grid-column: 2;
}

.Boron {
  background-color: #5d6d7e;
  grid-column: 13;
}
.Carbon {
  background-color: #333;
  grid-column: 14;
}
.Nitrogen {
  background-color: #e1f5fe;
  grid-column: 15;
}
.Oxygen {
  background-color: #b3e5fc;
  grid-column: 16;
}
.Fluorine {
  background-color: #f9e79f;
  grid-column: 17;
}
.Neon {
  background-color: #ff5733;
  grid-column: 18;
}
.Third {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Sodium {
  background-color: #ffaa00;
  grid-column: 1;
}
.Magnesium {
  background-color: #e6e6e6;
  color: black;
  grid-column: 2;
}
.Aluminium {
  background-color: #d5dbdb;
  color: black;
  grid-column: 13;
}
.Silicon {
  background-color: #34495e;
  grid-column: 14;
}
.Phosphorus {
  background-color: #922b21;
  grid-column: 15;
}
.Sulfur {
  background-color: #f4f186;
  grid-column: 16;
}
.Chlorine {
  background-color: #abebc6;
  grid-column: 17;
}
.Argon {
  background-color: #bb8fce;
  grid-column: 18;
}
.Fourth {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}

.Potassium {
  background-color: #dda0dd;
  grid-column: 1;
}
.Calcium {
  background-color: #ff7f50;
  grid-column: 2;
}
.Scandium {
  background-color: #e0e0e0;
  grid-column: 3;
}
.Titanium {
  background-color: #b0c4de;
  grid-column: 4;
}
.vanadium {
  background-color: #40e0d0;
  grid-column: 5;
}
.Chromium {
  background-color: #00ffff;
  grid-column: 6;
}
.Manganese {
  background-color: #d8bfd8;
  grid-column: 7;
}
.Iron {
  background-color: #8b4513;
  grid-column: 8;
}
.Cobalt {
  background-color: #0047ab;
  grid-column: 9;
}

.Nickel {
  background-color: #708090;
  grid-column: 10;
}
.Copper {
  background-color: #b87333;
  grid-column: 11;
}

.Zinc {
  background-color: #95a5a6;
  grid-column: 12;
}
.Gallium {
  background-color: #a6acaf;
  grid-column: 13;
}
.Germanium {
  background-color: #7f8c8d;
  grid-column: 14;
}
.Arsenic {
  background-color: #4a235a;
  grid-column: 15;
}
.Selenium {
  background-color: #c0392b;
  grid-column: 16;
}
.bromine {
  background-color: #7e1e1b;
  grid-column: 17;
}
.Krypton {
  background-color: #aed6f1;
  grid-column: 18;
}

.Fifth {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Rubidium {
  background-color: #c71585;
  grid-column: 1;
}
.Strontium {
  background-color: #ff007f;
  grid-column: 2;
}
.Yttrium {
  background-color: #cccccc;
  grid-column: 3;
}
.Zirconium {
  background-color: #e6e6fa;
  grid-column: 4;
}
.Nioblum {
  background-color: #6a5acd;
  grid-column: 5;
}
.Molybdenum {
  background-color: #5f9ea0;
  grid-column: 6;
}
.Technetium {
  background-color: #7f8c8d;
  grid-column: 7;
}
.Ruthenium {
  background-color: #7b241c;
  grid-column: 8;
}
.Rhodium {
  background-color: #f0f3f4;
  grid-column: 9;
}

.Palladium {
  background-color: #bdc3c7;
  grid-column: 10;
}
.Silver {
  background-color: #e0e0e0;
  grid-column: 11;
}

.Cadmium {
  background-color: #ffd700;
  grid-column: 12;
}
.Indium {
  background-color: #4a90e2;
  grid-column: 13;
}
.Tin {
  background-color: #eaeded;
  grid-column: 14;
}
.Antimony {
  background-color: #85929e;
  grid-column: 15;
}
.Tellurium {
  background-color: #566573;
  grid-column: 16;
}
.Iodine {
  background-color: #4a235a;
  grid-column: 17;
}
.Xenon {
  background-color: #85c1e9;
  grid-column: 18;
}
.Sixth {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Cesium {
  grid-column: 1;
}
.Barium {
  grid-column: 2;
}
.Hafnium {
  grid-column: 4;
}
.Tantalum {
  grid-column: 5;
}
.Tungsten {
  grid-column: 6;
}
.Rhenium {
  grid-column: 7;
}
.Osmium {
  grid-column: 8;
}
.Iridium {
  grid-column: 9;
}

.Platinum {
  grid-column: 10;
}
.Gold {
  grid-column: 11;
}

.Mercury {
  grid-column: 12;
}
.Thallium {
  grid-column: 13;
}
.Lead {
  grid-column: 14;
}
.Bismuth {
  grid-column: 15;
}
.Polonium {
  grid-column: 16;
}
.Astatine {
  grid-column: 17;
}
.Radon {
  grid-column: 18;
}
.Seventh {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Francium {
  grid-column: 1;
}
.Radium {
  grid-column: 2;
}
.Rutherfordium {
  grid-column: 4;
}
.Dubnium {
  grid-column: 5;
}
.Seaborgium {
  grid-column: 6;
}
.Bohrium {
  grid-column: 7;
}
.Hassium {
  grid-column: 8;
}
.Meitnerium {
  grid-column: 9;
}

.Darmstadtium {
  grid-column: 10;
}
.Roentgenium {
  grid-column: 11;
}

.Copernicium {
  grid-column: 12;
}
.Nihonium {
  grid-column: 13;
}
.Flerovium {
  grid-column: 14;
}
.Moscovium {
  grid-column: 15;
}
.Livermorium {
  grid-column: 16;
}
.Tennessine {
  grid-column: 17;
}
.Oganesson {
  grid-column: 18;
}
.Eight {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Lanthanum {
  grid-column: 4;
}
.Cerium {
  grid-column: 5;
}
.Praseodymium {
  grid-column: 6;
}
.Neodymium {
  grid-column: 7;
}
.Promethium {
  grid-column: 8;
}
.Samarium {
  grid-column: 9;
}

.Europium {
  grid-column: 10;
}
.Gadolinium {
  grid-column: 11;
}

.Terbium {
  grid-column: 12;
}
.Dysprosium {
  grid-column: 13;
}
.Holmium {
  grid-column: 14;
}
.Erbium {
  grid-column: 15;
}
.Thulium {
  grid-column: 16;
}
.Ytterbium {
  grid-column: 17;
}
.Lutetium {
  grid-column: 18;
}
.Nine {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(18, 98px);
  grid-template-rows: 98px;
}
.Actinium {
  grid-column: 4;
}
.Thorium {
  grid-column: 5;
}
.Protactinium {
  grid-column: 6;
}
.Uranium {
  grid-column: 7;
}
.Neptunium {
  grid-column: 8;
}
.Plutonium {
  grid-column: 9;
}

.Americium {
  grid-column: 10;
}
.Curium {
  grid-column: 11;
}

.Berkelium {
  grid-column: 12;
}
.Californium {
  grid-column: 13;
}
.Einsteinium {
  grid-column: 14;
}
.Fermium {
  grid-column: 15;
}
.Mendelevium {
  grid-column: 16;
}
.nobelium {
  grid-column: 17;
}
.Lawrencium {
  grid-column: 18;
}
